.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 5rem 5rem rgb(0, 0, 0, 5%);
  background-color: #feffff;
  border-radius: 2rem;
  width: 32rem;
  height: auto;
}

.image {
  border-radius: 1rem;
}

h1,
p {
  margin: 2.4rem 1rem;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
  color: rgb(0, 0, 0, 50%);
}
